600  MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE

BEGIN
	POPUP "&File",,,0
	BEGIN
		MENUITEM "&Exit",1000
	END
	POPUP "&Action",,,0
	BEGIN
		MENUITEM "&Average",1100
		MENUITEM "&Sort",1200
		MENUITEM "&List",1300
	END
	POPUP "&Help",,,0
	BEGIN
		MENUITEM "&About",1900
	END
END